body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(../img/Map_PlainsOfPassage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

#menuz{
    height: 100vh;
    width: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.807);
    position: fixed;
    z-index: 3;
}

.btnmenuz{
    width: 300px;
    height: 100px;
    border-radius: 70px;
}

#btnmenu:focus + #menuz{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu{
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#btnmenu{
    height: 100%;
    width: 100px;
    border: 3px solid black;
    background-color: transparent;
    background-image: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.personaggi{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#prs1{
    height: 300px;
    padding-top: 100px;
    padding-right: 300px;
}

#prs{
    height: 300px;
    padding-top: 100px;
    padding-left: 300px;
}

article{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gioco{
    height: 100%;
    width: 390px;
    border: 5px solid black;
    background: rgba(0, 0, 0, 0.804);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn1{
    width: 50%;
    height: 50%;
    background-image: url(../img/spada.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.btn2{
    width: 50%;
    height: 50%;
    background-image: url(../img/scudo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grande{
    width: 100%;
    height: 50%;
    background-image: url(../img/schiva.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

button{
    border: 2px solid black;
}

button:hover{
    cursor: pointer;
}